@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  footer {
    height: auto;
    margin-top: 5rem; /* Reduces the top margin for smaller screens */
  }

  .nav-links-container {
    text-align: center; /* Center the nav links */
  }

  .nav-links {
    display: flex;
    flex-direction: column; /* Stack the links vertically */
    gap: 10px;
  }

  footer nav {
    margin-top: 1rem;
    margin-bottom: 1rem; /* Adjusts spacing for better readability */
  }

  footer p {
    font-size: 0.9rem; /* Slightly reduce text size for smaller screens */
  }
}

/* Media query for very small screens (phones) */
@media (max-width: 480px) {
  footer {
    margin-top: 3rem;
  }

  footer p {
    font-size: 0.8rem; /* Further reduce text size for smaller screens */
  }

  .nav-links {
    gap: 8px;
  }
}

/* CONTACT FORM MEDIA QUERY */
@media only screen and (max-width: 37.5em) {
.contact__form-container {
  padding: 3rem;
  height: 43rem;
}

.contact__form-field {
  margin-bottom: 3rem;
}

.submit-btn {
  width: 100%;
}
}
